{% extends 'authenticate/base.html' %}

{% block content %}
 
     <h2 class="text-center">Change Password</h2>
 <div class="col-md-6 offset-md-3 change_password">
		    <form method="POST" action="{% url 'change_password' %}">
		    	{% csrf_token %}
		    		{% if form.errors %}
		    			 <div class="alert alert-warning alert-dismissable" role="alert">
			            <button class="close" data-dismiss="alert">
			              <small><sup>x</sup></small>
			            </button>
			            Your form has errors
			            {% for field in form%}
			            	{% if field.errors %}
			            		{{ field.errors }}
			            	{% endif %}
			            {% endfor%}
			          	</div>
		    		{% endif%}
 
		    		{{ form.as_p }}
		    		<input type="submit" class="btn btn-primary" value="Change Password">
		    	
		    	
		    </form>
   </div>
{% endblock %}